<!DOCTYPE html>
<html>
<head>
	<title>ewear</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/closet.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 	<link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700" rel="stylesheet">
 		<link rel="stylesheet" type="text/css" href="/css/closet.css">
 	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

 	<script>

 	var test = 0;
 	function del(){
 		localStorage.clear();
 		window.location.reload();
 	}

 	$(document).ready(function() {
 		
 		if (test == 0) {
 		for (i=0;i<localStorage.length;i++){
           var img = '<img src="'+ localStorage.getItem('imgURL'+i)+ '" class = "detailsImage"><hr>';
           $("#more").append( img );
           
       }
   }
$(".btn btn-success").mouseup(function(){
    $(this).outline(none);
})
        
});
   function previewFile(){
       //var preview = document.querySelector('more'); //selects the query named img
       var file    = document.querySelector('input[type=file]').files[0]; //sames as here
       var reader  = new FileReader();

       reader.onloadend = function () {
           //preview.src = reader.result;
           localStorage.setItem('imgURL'+localStorage.length, reader.result);
           var img = '<img src="'+ reader.result+ '" class = "detailsImage"><hr>';
           $("#more").append( img );
           var test =1;
       

       }


       

       if (file) {
           reader.readAsDataURL(file); //reads the data as a URL
    
       } else {
           preview.src = "";
       }
  } 

  </script>

</head>
<body>
<!-- The navigation bar goes here -->
	<div class="inside">
		<nav class="navbar navbar-default navbar-fixed-top" style="position: absolute;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-SignUp" aria-expanded="false">
	        		<span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
	        		</button>
			      	
			      	<a class="navbar-brand" href="/">EWEAR</a>
	      		</div>

		      	<div class="collapse navbar-collapse" id="bs-SignUp">
			      <ul class="nav navbar-nav navbar-right">			    
			      	<li><a href="/dashboard">Home</a></li>
			      </ul>
			  	</div>
			</div>
		</nav>
	</div>


<!-- The clothes contatiner -->
    <hr>
	
	<div class="container">
	<h1 id="omg">All Clothes</h1> 
	<hr>
		<div class="row">
			{{#each closetdata}}
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="thumbnails">
					<img src="{{imageURL}}">
				</div>
				<hr>
			</div>
			{{/each}}

				<div class="col-lg-4 col-md-6 col-sm-12">
				<div id="more" class="thumbnails">
				</div>
				
			
			</div>
		</div>
	</div>



<!-- The liked clothes contatiner -->

	<div class="container">
		<div class="row">
			{{#each photos}}
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="thumbnails">
				</div>
				
			</div>
			{{/each}}
		</div>
	

<!--upload file-->
<!--<form id="upload" role="form" method="post" action="">-->
	<!--<p class="help-block">Choose a FILE to upload</p>
	<input type="file" onchange="previewFile()">
	<p class="help-block">Delete uploaded photos</p>-->
	
    
	
  	<!--<p class="help-block">Choose a FOLDER to upload</p>
    <input type="file" name="files[]" id="files" multiple="" directory="" webkitdirectory="" mozdirectory="" onchange="previewFile">-->
<!--</form>-->
</div>
<div class="container">
    <input class="btn btn-success" type="file" value="upload" onchange="previewFile()"/>
    <hr>
	<button type="button" class="btn btn-danger" onclick="del()">Delete</button>
	<hr>
</div>


	<!-- scripts for JavaScript and Jquery -->
	<script src="/js/closetImg.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>