
#omg {
	margin-top: 50px;
}

body {

	background-size: cover; 
	background-position: center;
	font-family: 'Amiri', serif;

}

#content {
	text-align: center;
	padding-top: 20%;
}

html {
	height: 100%;
}

hr {
	width: 400px;
	border-top: 1 px solid white;
}

img {
	vertical-align:middle;
	width: 180px;
	height: 200px;
	margin-left:20%;
}


.navbar-brand {
		font-family: 'Amiri', serif;
	
}

.inside {
	font-family: 'Amiri', serif;
}

.btn{
	position: center;
	font-family: serif;
	margin-left:5%;

}



