.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  filter:none !important;
  background-image:none;
  outline: 0;
  opacity: 1;
 }

body {
	background-color: #FFF;
	background-position: center;
	color: white;
}





.Outfits {
  box-sizing: border-box;
  width: 65%;
  margin: 0px auto;
  padding: 0px 0px;
  text-align: center;
}

.Outfit {
  display: inline-block;
  text-align: center;
  width: 140px;
  height: 180px;
  margin-top: 0px;
}




.Choice{
  float:center;
  height: auto;
  width:100%;
}

#cover {
  background-size: cover;
  height: 120px;
  position: relative;
  top:50px;
}

.btn {
  
  color: #FFF;
  padding: 5%;
  position: center;
  margin-left: 10%;
  width:5%;
  height:5%;
}

html {
	height: 100%;
}


hr {
	width: 90%;
	border-top: 1px solid lightgrey;

}

.arrows {
  color = blue;
}


.navbar-brand {
    font-family: 'Amiri', serif;
}

.icon {
  width: 60px;
  height:60px;
  border-color: black;
}

.iconn {
  width: 55px;
  height: 55px;

}

#navWord {
  font-family: serif;
}

